[2019-02-12 18:48] kategengler opened #1 "RFC #0300 - Tracking for RFC Process Update"
## [RFC #0300](https://github.com/emberjs/rfcs/pull/0300) - Tracking for RFC Process Update

Champion: @kategengler
---

### Ember.js Team:

### Ember CLI Team:

- [x] Move ember-cli/rfcs merged RFCs into emberjs/rfcs
- [x] Close all outstanding issues and PRs on ember-cli-rfcs
- [x] Archive ember-cli/rfcs

### Ember Data Team:

### Learning Team:

### Steering Committee:

- [x] Update emberjs/rfc

[2019-02-12 18:54] kategengler opened #2 "RFC #0416 - Tracking for Glimmer Components"
## [RFC #0416](https://github.com/emberjs/rfcs/pull/0416) - Tracking for Glimmer Components

Champions: @tomdale, @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https:

[2019-02-12 19:00] kategengler opened #3 "RFC #0386 - Tracking for Remove jQuery by Default"
## [RFC #0386](https://github.com/emberjs/rfcs/pull/0386) - Remove jQuery by Default

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github.com/ember

[2019-02-12 19:01] kategengler opened #4 "RFC #0410 - Tracking for Tracked Properties"
## [RFC #0410](https://github.com/emberjs/rfcs/pull/0410) - Tracking for Tracked Properties

Champion: @tomdale

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github.co

[2019-02-12 19:03] kategengler opened #5 "RFC #0421 - Tracking for Deprecate Application Controller Router Properties"
## [RFC #0421](https://github.com/emberjs/rfcs/pull/0421) - Tracking for Deprecate Application Controller Router Properties

Champion: @chadhietala

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

[2019-02-12 19:04] kategengler opened #6 "RFC #0432 - Tracking for Contextual Helpers and Modifiers"
## [RFC #0432](https://github.com/emberjs/rfcs/pull/0432) - Tracking for Contextual Helpers and Modifiers

Champion: @chancancode

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README]

[2019-02-12 19:06] kategengler opened #7 "RFC #0408 - Tracking for Decorators"
## [RFC #0408](https://github.com/emberjs/rfcs/pull/0408) - Tracking for Decorators

Champion: @tomdale

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github.com/emberj

[2019-02-12 19:08] kategengler opened #8 "RFC #0415 - Tracking for Render Element Modifiers"
## [RFC #0415](https://github.com/emberjs/rfcs/pull/0415) - Tracking for Render Element Modifiers

Champions: @rwjblue, @tomdale

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](

[2019-02-12 19:09] kategengler opened #9 "RFC #0435 - Tracking for Forwarding Element Modifiers with "Splattributes""
## [RFC #0435](https://github.com/emberjs/rfcs/pull/0435) - Tracking for Forwarding Element Modifiers with "Splattributes"

Champions: @rwjblue, @chancancode

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work r

[2019-02-12 19:11] kategengler opened #10 "RFC #0398 - Tracking for RouteInfo Metadata"
## [RFC #0398](https://github.com/emberjs/rfcs/pull/0398) - Tracking for RouteInfo Metadata

Champion: @chadhietala

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://githu

[2019-02-12 19:13] kategengler opened #11 "RFC #0395 - Tracking for @ember-data packages"
## [RFC #0395](https://github.com/emberjs/rfcs/pull/0395) - Tracking for @ember-data packages

Champion: @runspired

---

### Ember Data Team:

- [x] convert to monorepo
   🔒 @heroiceric https://github.com/emberjs/data/pull/5919
- [x] publish new packages
   🔒 @runspired as part of 3.10 -beta
- [x] update blueprints to use new packages
   🔒 @runspired https://github.com/emberjs/data/pull/6045
- [x

[2019-02-12 19:17] kategengler opened #12 "RFC #0272 - Tracking for Deprecate Function.prototype.on, Function.prototype.property, Function.prototype.observes"
## [RFC #0272](https://github.com/emberjs/rfcs/pull/0272) - Tracking for Deprecate Function.prototype.on, Function.prototype.property, Function.prototype.observes

Champions: @rwjblue, @locks

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or

[2019-02-12 19:20] kategengler opened #13 "RFC #0226 - Tracking for Named Blocks"
## [RFC #0226](https://github.com/emberjs/rfcs/pull/0226) - Tracking for Named Blocks

Champion: @wycats

---

### Ember.js Team:
N/A

### Ember CLI Team:
N/A

### Ember Data Team:
N/A

### Learning Team:
N/A

### Steering Committee:
N/A

[2019-02-12 19:40] kategengler opened #14 "RFC #0391 - Tracking for Router Helpers"
## [RFC #0391](https://github.com/emberjs/rfcs/pull/0391) - Tracking for Router Helpers

Champion: @chadhietala

---
<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github.com

[2019-02-12 19:42] kategengler opened #15 "RFC #0375 - Tracking for Deprecate Computed `.property()` Modifier"
## [RFC #0375](https://github.com/emberjs/rfcs/pull/0375) - Tracking for Deprecate Computed `.property()` Modifier

Champion: @rwjblue

---

### Ember.js Team:
- [x] Implemented https://github.com/emberjs/ember.js/pull/17470

### Ember CLI Team:

N/A

### Ember Data Team:

N/A

### Learning Team:

N/A

### Steering Committee:

N/A

[2019-02-12 19:47] kategengler opened #16 "RFC #0372 - Tracking for modelFactoryFor"
## [RFC #0372](https://github.com/emberjs/rfcs/pull/0372) - Tracking for modelFactoryFor

Champion: @igorT

---

### Ember.js Team:

### Ember CLI Team:

### Ember Data Team:

This RFC is being revisited and replaced with a new RFC
https://github.com/emberjs/rfcs/pull/372#issuecomment-462896835

### Learning Team:

### Steering Committee:

[2019-02-12 19:50] kategengler opened #17 "RFC #0370 - Tracking for Deprecate `computed().volatile()`"
## [RFC #0370](https://github.com/emberjs/rfcs/pull/0370) - Tracking for Deprecate `computed().volatile()`

Champion: @rwjblue

---

### Ember.js Team:

- [x] Implement feature https://github.com/emberjs/ember.js/pull/17470

### Ember CLI Team:

N/A

### Ember Data Team:

N/A

### Learning Team:

N/A

### Steering Committee:

N/A

[2019-02-12 19:51] kategengler opened #18 "RFC #0369 - Tracking for Deprecate Computed Overridability and `.readOnly()`"
## [RFC #0369](https://github.com/emberjs/rfcs/pull/0369) - Tracking for Deprecate Computed Overridability and `.readOnly()`

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

S

[2019-02-12 19:54] kategengler opened #19 "RFC #0332 - Tracking for Record Links & Meta"
## [RFC #0332](https://github.com/emberjs/rfcs/pull/0332) - Tracking for Record Links & Meta

Champion: @runspired

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github

[2019-02-12 19:59] kategengler opened #20 "RFC #0331 - Tracking for Deprecate Globals Resolver"
## [RFC #0331](https://github.com/emberjs/rfcs/pull/0331) - Tracking for Deprecate Globals Resolver

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://g

[2019-02-12 20:01] kategengler opened #21 "RFC #0329 - Tracking for Deprecate the use of Ember Evented in Ember Data"
## [RFC #0329](https://github.com/emberjs/rfcs/pull/0329) - Tracking for Deprecate the use of Ember Evented in Ember Data

Champion: @runspired

---

### Ember Data Team

- [x] replace `Evented` use with custom `DeprecatedEvented`
- [x] custom deprecation for `didLoad` event on `AdapterPopulatedRecordArray`
- [x] custom deprecations for event methods on `@ember/model`
- [x] fix tests to not make u

[2019-02-12 20:41] kategengler opened #22 "RFC #0324 - Tracking for Deprecate Component#isVisible"
## [RFC #0324](https://github.com/emberjs/rfcs/blob/master/text/0324-deprecate-component-isvisible.md) - Tracking for Component#isVisible

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work r

[2019-02-12 20:47] kategengler opened #23 "RFC #0318 - Tracking for `array` helper"
## [RFC #0318](https://github.com/emberjs/rfcs/pull/0318) - Tracking for `array` helper

Champion: @mmun

---

[Filled out based on [previous tracking issue](https://github.com/emberjs/ember.js/issues/17052)]

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] https://github.com/emberjs/ember.js/pull/17054

### Ember CLI Team:

No work expected

### Ember Data Team:

N

[2019-02-12 20:51] kategengler opened #24 "RFC #0293 - Tracking for Ember Data Record Data"
## [RFC #0293](https://github.com/emberjs/rfcs/pull/0293) - Tracking for Ember Data Record Data

Champion: @igorT

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README](https://github.

[2019-02-12 20:54] kategengler opened #25 "RFC #0287 - Tracking for Promote {{-in-element}} to public API"
## [RFC #0287](https://github.com/emberjs/rfcs/pull/0287) - Tracking for Promote {{-in-element}} to public API

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the README

[2019-02-12 21:06] kategengler opened #26 "RFC #0236 - Tracking for Ember.String deprecation"
## [RFC #0236](https://github.com/emberjs/rfcs/blob/master/text/0236-deprecation-ember-string.md) - Tracking for Ember.String deprecation

Champion: @locks

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work req

[2019-02-12 21:13] kategengler opened #27 "RFC #0143 - Tracking for Module Unification"
## [RFC #0143](https://github.com/emberjs/rfcs/blob/master/text/0143-module-unification.md) - Tracking for Module Unification

Champion:
---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the R

[2019-02-12 21:13] kategengler opened #28 "RFC #0364 - Tracking for Ember 2018 Roadmap"
## [RFC #0364](https://github.com/emberjs/rfcs/blob/master/text/0364-roadmap-2018.md) - Tracking for Ember 2018 Roadmap

Champion: @tomdale
---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [th

[2019-02-13 19:37] chadhietala commented on #5
Pending PR: https://github.com/emberjs/ember.js/pull/17573

[2019-02-14 17:24] jenweber opened #29 "RFC #0431 - Tracking for Restructuring the Guides Table of Contents"
## [RFC #0431](https://github.com/emberjs/rfcs/blob/master/text/0431-guides-restructure.md) - Tracking for Restructuring the Guides Table of Contents

Champion: @jenweber

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect

[2019-02-15 20:24] rwjblue opened #30 "RFC #0418 - Tracking for Deprecate Route Render APIs"
## [RFC #0418](https://github.com/emberjs/rfcs/blob/master/text/0418-deprecate-route-render-methods.md) - Tracking for Deprecate Route Render APIs

Champion: @chadhietala

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect

[2019-03-10 10:44] simonihmig commented on #3
The `ember-data` todo can be checked off, as per https://github.com/emberjs/data/pull/5900! :tada:

[2019-03-31 21:22] cibernox commented on #9
Update:
The feature has been merged into glimmer master (https://github.com/glimmerjs/glimmer-vm/pull/923) and backported into 0.38 in https://github.com/glimmerjs/glimmer-vm/pull/925)

[2019-04-04 19:52] runspired opened #31 "RFC #0403- Tracking for [DATA] identifiers"
## [RFC #0403](https://github.com/emberjs/rfcs/blob/master/text/0403-ember-data-identifiers.md) - Tracking for [DATA] Identifiers

Champion: @runspired

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

- [x] new API docs
- [x] tests around timing behaviors specified in the RFC
- [x] implementation of identifiers behind a feature flag
   🔒 @runspired https://github.com/embe

[2019-04-11 15:56] rwjblue commented on #23
RE: polyfill, I think it would be pretty easy to make https://github.com/kellyselden/ember-array-helper into a "true" polyfill. What do you think @kellyselden?

[2019-04-11 16:02] kellyselden commented on #23
Totally agree.

[2019-04-11 16:11] rwjblue commented on #23
OK, I've created https://github.com/kellyselden/ember-array-helper/issues/89 and updated the description above.

[2019-04-11 16:16] mansona commented on #19
@runspired can we get an indication of how much of this has been done? I have just experimented with using links in a `store.query()` and it works as expected 🤔

[2019-04-11 16:39] jayjayjpg commented on #22
Just had a quick look at the Guides and saw that there's no mention of `Component#isVisible` - we should be able to check this one off the list of learning items

[2019-04-11 18:29] rwjblue commented on #23
While I think we should _totally_ do the polyfill, I'm going to close this (@kategengler said it was OK!!!!!) because all teams have signed off and the polyfill isn't mentioned in the original RFC anyways.

[2019-04-11 18:29] #23 closed

[2019-04-11 18:42] rwjblue commented on #9
Updated description a bit, this feature is enabled by default and will be included in ember-source@3.11 barring any issues...

[2019-04-11 18:48] rwjblue commented on #17
Done! 🎉

[2019-04-11 18:48] #17 closed

[2019-04-11 18:50] rwjblue commented on #15
🌮 🍡 🎉

[2019-04-11 18:50] #15 closed

[2019-04-11 18:51] rwjblue commented on #18
Released in 3.9.0 🎉

[2019-04-11 18:53] runspired commented on #19
@mansona this RFC is for `record` links & meta, not queries. Queries have indeed worked for some while.

[2019-04-11 18:53] runspired commented on #16
We reverted this and are pursuing a new RFC direction.

[2019-04-11 18:53] #16 closed

[2019-04-12 15:58] kategengler commented on #23
Released in Ember.js v3.8.0

[2019-04-12 16:01] kategengler commented on #17
Released in 3.9.0

[2019-04-12 16:03] kategengler commented on #15
Released in 3.9.0

[2019-04-12 19:26] rwjblue opened #32 "RFC #0471 - Tracking for {{on}} Modifier"
## [RFC #0471](https://github.com/emberjs/rfcs/blob/master/text/0471-on-modifier.md) - Tracking for {{on}} Modifier

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

See [the R

[2019-04-12 19:27] rwjblue opened #33 "RFC #0470 - Tracking for {{fn}} Helper"
## [RFC #0470](https://github.com/emberjs/rfcs/blob/master/text/0470-fn-helper.md) - Tracking for {{fn}} Helper

Champion: @pzuraq

---

### Ember.js Team:
#### [ember.js](https://github.com/emberjs/ember.js)
- [x] implement `fn` helper https://github.com/emberjs/ember.js/pull/17941
- [x] ensure `fn` helper can be nested https://github.com/emberjs/ember.js/pull/17961
- [x] enable by default https:

[2019-04-12 19:28] rwjblue opened #34 "RFC #0451 - Tracking for Inject Parameter Normalization"
## [RFC #0451](https://github.com/emberjs/rfcs/blob/master/text/0451-injection-parameter-normalization.md) - Tracking for Inject Parameter Normalization

Champion: @pzuraq

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Implementation https://github.com/emberjs/ember.js/pull/17858
- [ ] Update API documentation
- [x] Enable by default https://github.com/emberj

[2019-04-12 19:35] rwjblue commented on #6
I don't think this is part of Octane any longer (since we bumped MU), removing label.

[2019-04-12 19:43] rwjblue opened #35 "RFC #0425 - Tracking for Website Redesign"
## [RFC #0425](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) - Tracking for Website Redesign

Champion: @wifelette & @melsumner

#### [ember-website](https://github.com/ember-learn/ember-website)
- [x] update content
- [x] extract design system from inspiration design in RFC
- [x] apply design system to [ember-styleguide](https://github.com/ember-learn/ember-styleguide

[2019-04-15 01:39] locks commented on #13
Superseded by https://github.com/emberjs/rfcs/pull/460.

[2019-04-15 01:39] #13 closed

[2019-04-15 19:35] rwjblue commented on #12
Deprecation guide PR: https://github.com/ember-learn/deprecation-app/pull/330

[2019-04-15 21:48] rwjblue commented on #12
I did a review of the guides-source and didn't spot any function prototype extension usage, so I believe that item is 👍.

[2019-04-16 03:11] pete-the-pete commented on #21
@runspired you can assign this to me (if that makes sense). Also curious how the rfc-tracking issues map back to https://github.com/emberjs/data issues

[2019-04-16 15:28] rwjblue commented on #5
FYI - This is slated for release in 3.10.

[2019-04-16 15:30] rwjblue commented on #12
FYI - This is slated for release in 3.11

[2019-04-16 16:54] runspired commented on #21
@pete-the-pete the issue stays assigned to me as the "core team champion". Essentially this means I am responsible for ensuring that adequate code-reviews occur, work is spec'd out, and delegated. E.G. I am the on-call and accountable person for this even if I am not the individual responsible for the implementation.

The concept of RFC Tracking issues is a bit new and we are still getting used to

[2019-04-17 03:07] pete-the-pete commented on #21
@runspired this what I have so far: https://github.com/pete-the-pete/data/commit/14e01d8fe3439731486b2bbed89b13ee56876037

I added a custom DeprecatedEvent mixin that gets use in place of Evented. If that's not the right path, let me know.

Other questions:
1. "Custom deprecation for didLoad event on AdapterPopulatedRecordArray" - is the deprecation to go on the didLoad in [_setInternalModels](htt

[2019-04-17 16:29] rwjblue commented on #10
Slated for release in 3.10

[2019-04-17 22:50] rwjblue commented on #33
Initial implementation in https://github.com/emberjs/ember.js/pull/17941

[2019-04-19 13:43] rwjblue commented on #22
@gavinjoyce has a PR up over in https://github.com/emberjs/ember.js/pull/17948

[2019-04-19 16:10] kategengler opened #36 "RFC #0459 - Tracking for Angle Bracket Invocations For Built-in Components"
## [RFC #0459](https://github.com/emberjs/rfcs/blob/master/text/0459-angle-bracket-built-in-components.md) - Tracking for Angle Bracket Invocations For Built-in Components

Champion: @chancancode

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Implement feature `<Input />` and `<Textarea />`, https://github.com/emberjs/ember.js/pull/17735
- [x] Implement `<LinkTo /

[2019-04-19 16:12] kategengler opened #37 "RFC #0457 - Tracking for Nested Invocations in Angle Bracket Syntax"
## [RFC #0457](https://github.com/emberjs/rfcs/blob/master/text/0457-nested-lookups.md) - Tracking for Nested Invocations in Angle Bracket Syntax

Champion: @wycats @rwjblue

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Initial implementation https://github.com/emberjs/ember.js/pull/17719
- [x] Enable by default https://github.com/emberjs/ember.js/pull/17745

[2019-04-19 16:15] kategengler opened #38 "RFC #0449 - Tracking for Deprecate `{{partial}}`"
## [RFC #0449](https://github.com/emberjs/rfcs/blob/master/text/0449-deprecate-partials.md) - Tracking for Deprecate `{{partial}}`

Champion: @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required

[2019-04-19 16:16] kategengler opened #39 "RFC #0446 - Tracking for Contribution Guides"
## [RFC #0000](https://github.com/emberjs/rfcs/blob/master/text/0446-contribution-guides.md) - Tracking for Contribution Guides

Champion: @jessica-jordan

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [ ] A thing required for this RFC in this repo, https://github.com/emberjs/ember.js/pull/ABCDE

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/

[2019-04-19 16:18] kategengler opened #40 "RFC #0445 - Tracking for Deprecate `{{with}}`"
## [RFC #0445](https://github.com/emberjs/rfcs/blob/master/text/0445-deprecate-with.md) - Tracking for Deprecate `{{with}}`

Champion: @rwjblue

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [ ] A thing required for this RFC in this repo, https://github.com/emberjs/ember.js/pull/ABCDE

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/ember-cli)

[2019-04-19 17:00] kategengler opened #41 "RFC #0440 - Tracking for Decorator Support"
## [RFC #0440](https://github.com/emberjs/rfcs/blob/master/text/0440-decorator-support.md) - Tracking for Decorator Support

Champion: @pzuraq

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Implement initially https://github.com/emberjs/ember.js/pull/17548
- [x] Bug fixes https://github.com/emberjs/ember.js/pull/17690
- [x] Enable feature by default https://g

[2019-04-19 18:34] kategengler opened #42 "RFC #0389 - Tracking for Dynamic tag names in glimmer templates"
## [RFC #0389](https://github.com/emberjs/rfcs/blob/master/text/0389-dynamic-tag-names.md) - Tracking for Dynamic tag names in glimmer templates

Champion: @chancancode

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [ ] A thing required for this RFC in this repo, https://github.com/emberjs/ember.js/pull/ABCDE

### Ember CLI Team:

#### [ember-cli](https://github.

[2019-04-19 23:51] runspired commented on #21
Sync'd with Pete this morning and answered each of these questions.

[2019-04-23 22:35] rwjblue commented on #33
https://github.com/emberjs/ember.js/pull/17961 fixes a bug preventing `fn` from being nested

[2019-04-24 16:17] rwjblue commented on #32
https://github.com/emberjs/ember.js/pull/17960 adds initial implementation

[2019-04-24 17:02] rwjblue commented on #33
https://github.com/emberjs/ember.js/pull/17965 adds api docs and enables the implementation by default

[2019-04-25 23:40] rwjblue commented on #33
emberjs/ember.js#17965 landed and therefore `fn` is slated for release in 3.11 (barring any significant issues)...

[2019-04-26 00:03] rwjblue commented on #37
Currently enabled and slated for release in 3.10

[2019-04-26 00:08] rwjblue commented on #41
Currently enabled and slated for 3.10 release

[2019-04-26 15:11] rwjblue opened #44 "RFC #0460 - Tracking for Yieldable Named Blocks"
## [RFC #0460](https://emberjs.github.io/rfcs/0460-yieldable-named-blocks.html) - Tracking for Yieldable Named Blocks

Champion: @wycats @rwjblue

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

[2019-04-26 15:19] rwjblue commented on #28
@kategengler - I'm not sure exactly how to handle this one. It's not as clear cut to me as the others. Do we just make this the overarching "octane" tracking issue?

[2019-05-02 13:09] rwjblue commented on #3
We reworked the fetch support in ember-data over in https://github.com/emberjs/data/pull/6077.

https://github.com/emberjs/data/pull/5975 is working to ensure ember-data's CI is running properly without jQuery.

[2019-05-06 13:04] rwjblue opened #45 "RFC #0478 - Tracking for Tracked Properties Updates"
## [RFC #0478](https://github.com/emberjs/rfcs/blob/master/text/0478-tracked-properties-updates.md) - Tracking for Tracked Properties Updates

Champion: @pzuraq

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/ember-cli)

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

### Le

[2019-05-13 21:12] runspired commented on #11
I've introduced a label for tracking issues and PRs related to this effort in `ember-data` here: https://github.com/emberjs/data/labels/TRACK-packages

[2019-05-13 21:14] runspired commented on #11
Note that we missed the `3.10` release target for this in part due to the continued need to validate/update documentation and documentation generation. We will need to make this a key focus for the `3.11` cycle to ensure we can release packages then.

cc @jenweber for some insight on how we can help on this.

[2019-05-13 22:57] kategengler commented on #11
@runspired If you can serialize the tracking here too, that'd be great. The checklist enables seeing progress of the RFC.

[2019-05-13 23:45] jenweber commented on #11
@runspired I think maybe what we should do is pair the docs generation testing. It's helpful to have some people on the data team who are familiar with it, in order to help speed up future refactors too and protect against dropping things. Can you ask the team if anyone would like to pair it with me or maybe @sivakumar-kailasam, if he's available? We can get this locked down for 3.11. I don't expe

[2019-05-15 00:43] igorT opened #46 "RFC #0465 - Tracking for Record Data Errors"
## [RFC #0465](https://github.com/igorT/rfcs/blob/igor/record-data-errors/text/0465-record-data-errors.md) - Tracking for Record Data Errors
Champion: @igorT

---

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

### Learning Team

No action needed. See [the general DataRecord tracking](https://github.com/emberjs/rfc-tracking/issues/24)

[2019-05-16 16:12] jenweber commented on #24
The Learning team is available to review any docs-related PRs. We don't know enough to lead/write them, but let us know how we can help.

[2019-05-22 01:00] igorT opened #47 "RFC #0463 - Tracking for Record Data State"
## [RFC #0463](https://github.com/emberjs/rfcs/blob/master/text/0463-record-data-state.md) - Tracking for Record Data State

Champion: @igorT
---

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

- [ ] A thing required for this RFC in this repo, https://github.com/emberjs/data/pull/ABCDE

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

### Ember C

[2019-05-22 07:19] kennethlarsen commented on #5
Deprecation is now mentioned in 3.10 blog post.

[2019-05-22 14:11] kategengler commented on #10
Released in 3.10

[2019-05-22 14:13] kategengler commented on #5
Released in 3.10

[2019-05-22 14:13] #5 closed

[2019-05-22 14:13] #10 closed

[2019-05-22 14:16] kategengler commented on #37
Released in 3.10

[2019-05-22 14:17] kategengler commented on #36
Released in Ember.js 3.10

[2019-05-22 14:19] kategengler commented on #41
Released in Ember 3.10

[2019-05-22 17:00] MelSumner commented on #32
@toddjordan do you know if this has been PR'd to the API docs yet?

[2019-05-31 23:57] simonihmig commented on #25
For the record: https://github.com/kaliber5/ember-in-element-polyfill has been updated to include the semantic change of the RFC as of v0.2.0, and should work as a polyfill going back to Ember 2.12!

[2019-06-13 17:47] MelSumner commented on #28
@tomdale @rwjblue @kategengler we should figure this out so it doesn't happen to the 2019 Roadmap RFC.

[2019-06-17 06:49] kategengler opened #48 "RFC #0481 - Tracking for Component Templates Co-location"
## [RFC #0481](https://github.com/emberjs/rfcs/blob/master/text/0481-component-templates-co-location.md) - Tracking for Component Templates Co-location

Champion: @chancancode, @rwjblue

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Refactor template factories to align with the RFC (https://github.com/emberjs/ember.js/pull/18096)
- [x] Implement basic runtime

[2019-06-17 06:51] kategengler opened #49 "RFC #0491 - Tracking for Deprecate disconnectOutlet"
## [RFC #0491](https://github.com/emberjs/rfcs/blob/master/text/0491-deprecate-disconnect-outlet.md) - Tracking for Deprecate disconnectOutlet

Champion: @chadhietala

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "

[2019-06-19 08:16] nlfurniss commented on #3
@simonihmig for `remove usages of import $, this.$(), and $.ajax`, this there a starting version of the docs we're targeting?

It doesn't make sense to remove jQuery mentions in v1.0.0 of the docs, but maybe starting from 3.0.0 it does?

[2019-06-21 09:02] simonihmig commented on #3
AFAIK docs for past versions will not be updated in general, only for the latest `release`, right?

Not sure what's still left to do here? I found [these references](https://github.com/ember-cli/ember-cli/pull/8394) of jQuery usage, but they all seem to have been fixed already.

[2019-06-21 16:47] nlfurniss commented on #3
In that case I think the docs item can be checked off :-)

[2019-06-26 20:49] igorT opened #50 "RFC #0452 - Tracking for Ember Data Medium Term plan"
## [RFC #0456](https://github.com/emberjs/rfcs/blob/d1d557d29f46fca13f035023a513cd30ae599f6a/text/0000-ember-data-refactor.md) - Tracking for Ember Data Medium Term plan

Champion: @igorT

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

### Learning Team:

This RFC is a roadmap-style plan, so no Learning Team work is needed for this specific RFC. Learning resource work wi

[2019-06-26 21:52] runspired opened #51 "RFC #0461 - Tracking for [DATA] Singleton RecordData"
## [RFC #0461](https://github.com/emberjs/rfcs/blob/master/text/0461-ember-data-singleton-record-data.md) - Tracking for [DATA] Singleton RecordData

Champion: @runspired

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect

[2019-06-29 03:31] igorT opened #52 "RFC #0466 - Tracking for Ember Data Request State Service"
## [RFC #0466](https://github.com/emberjs/rfcs/blob/master/text/0466-request-state-service.md) - Tracking for Ember Data Request State Service

Champion: @igorT

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/ember-cli)
### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

### Learning

[2019-06-29 03:35] igorT opened #53 "RFC #0487 - Tracking for Ember Data Custom Model Classes"
## [RFC #0487](https://github.com/emberjs/rfcs/blob/master/text/0487-custom-model-classes.md) - Tracking for Ember Data Custom Model Classes
Champion: @igorT

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/ember-cli)

### Ember Data Team:

#### [ember-data](https://github.com/emberjs/data)

### Learn

[2019-06-30 19:15] rwjblue commented on #48
Initial support in Ember landed in https://github.com/emberjs/ember.js/pull/18158.

[2019-07-11 04:01] rwjblue commented on #48
Submitted https://github.com/emberjs/ember.js/pull/18190 to add templateOnlyComponent APIs.

[2019-07-15 16:55] Exelord commented on #13
Is there any tracking PR for https://github.com/emberjs/rfcs/pull/460 ?

[2019-07-15 17:45] kategengler commented on #13
@Exelord Yes, https://github.com/emberjs/rfc-tracking/issues/44

[2019-07-15 18:13] Exelord commented on #13
Thanks. Its missing the reference

[2019-07-15 20:01] kategengler commented on #13
It is linked from the merged RFC

[2019-07-19 18:53] pzuraq opened #54 "RFC #0486 - Tracking for Deprecate mouseEnter/Leave/Move Ember events"
## [RFC #0486](https://github.com/emberjs/rfcs/blob/master/text/0486-deprecate-mouseenter.md) - Tracking for Deprecate mouseEnter/Leave/Move Ember events

Champion: @rwjblue

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [x] Land deprecation (https://github.com/emberjs/ember.js/pull/18214)
- [x] Land deprecation guide (https://github.com/ember-learn/deprecation-a

[2019-07-19 18:55] pzuraq opened #55 "RFC #0468 - Tracking for @classic Decorator"
## [RFC #0468](https://github.com/emberjs/rfcs/blob/master/text/0468-classic-decorator.md) - Tracking for @classic Decorator

Champion: @pzuraq

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect of "No work required").

Se

[2019-07-19 22:55] simonihmig commented on #54
And here are the PRs for this: (I already had some prepared! :wink:)
* https://github.com/emberjs/ember.js/pull/18214
* https://github.com/ember-learn/guides-source/pull/947
* https://github.com/ember-learn/deprecation-app/pull/397

[2019-07-27 14:46] PoslinskiNet commented on #35
Looking for the new website ❤️

Any update on this one/ETA?
Do you need any help to push things forward?

[2019-07-27 16:04] pete-the-pete commented on #21
@runspired can this be closed now?

[2019-07-27 20:10] balinterdi commented on #35
I also think this would be very important to ship and would be willing to help.

[2019-07-27 21:13] #21 closed

[2019-07-27 22:45] betocantu93 commented on #35
I'm also willing to help 💯

[2019-07-29 15:32] rwjblue commented on #4
@pzuraq - Now that `@tracked` is enabled on canary, would you mind updating this tracking issue to reflect what is done and what is left?

[2019-07-29 19:23] mansona commented on #35
Hey @PoslinskiNet @balinterdi and @betocantu93 thanks for the offers to help 🎉 can you please reach out to me in the #dev-ember-learning channel in the discord and we can have a chat about getting you on the team 👍 my username is @real_ate

[2019-07-30 19:42] rwjblue commented on #44
A very rough idea of the work needed for upgrading in Ember can be seen in the upgrades done to Glimmer.js for the same range:

* https://github.com/glimmerjs/glimmer.js/pull/170
* https://github.com/glimmerjs/glimmer.js/pull/185
* https://github.com/glimmerjs/glimmer.js/pull/198
* https://github.com/glimmerjs/glimmer.js/pull/212

[2019-08-01 08:45] GavinJoyce commented on #48
FYI, I've created an MVP codemod:

https://github.com/GavinJoyce/ember-component-template-colocation-migrator

[2019-08-01 16:18] rwjblue commented on #3
Just merged the ember-cli update to drop jQuery for `ember new foo` (generally slated for ember-cli@3.13 at this point).

[2019-08-01 23:33] pzuraq commented on #4
Updated! Not much left 😄

[2019-08-17 09:41] Exelord commented on #44
Is there any rough estimation when we can expect this feature? <=3.14 or later? :)

I'm working on new addon which will use it as core functionality and I'm wondering when I could be able to release it.

[2019-08-17 19:43] GavinJoyce commented on #38
I'll work on implementing this

[2019-09-02 16:56] locks opened #56 "RFC #523 - Tracking for @model named argument to route templates"
## [RFC #0523](https://emberjs.github.io/rfcs/0523-model-argument-for-route-templates.html) - Tracking for @model named argument to route templates

Champion: @chancancode

---

<details>
  <summary>Expand for Instructions</summary>

All teams need to consider a merged RFC to plan any required work. Each team should comment on or edit this with links to issues for the work (or a note to the effect

[2019-09-27 09:54] simonihmig commented on #54
As this has shipped, can we close this?

[2019-09-27 09:58] simonihmig commented on #36
The polyfill task can be checked off! Seems the guides also!?

[2019-09-27 19:24] #54 closed

[2019-09-27 19:24] rwjblue commented on #54
Thank you @simonihmig!

[2019-09-27 19:25] rwjblue commented on #36
Looks good to me, going to go ahead and close...

[2019-09-27 19:25] #36 closed

[2019-10-01 21:59] knownasilya commented on #44
Has anyone started on this, thinking of starting this week if no one has yet.

[2019-10-02 00:22] rwjblue commented on #44
Not that I know of. I think that many/most folks with time to work on OSS at the moment are pretty focused on making Octane successful. Not an excuse or anything, just mentioning that as a reason why this is simmering for a bit...

[2019-10-02 14:22] knownasilya commented on #44
step 1: https://github.com/emberjs/ember.js/pull/18454

[2019-10-07 20:28] jelhan commented on #53
Isn't this already implemented by https://github.com/emberjs/data/pull/6313?

[2019-10-15 14:07] Panman82 commented on #42
FWIW, moving an addon to Octane methodologies and Glimmer Components but cannot support a dynamic tag name just yet (`tagName` in Ember Components) because this isn't implemented and I don't want to force another dependency by using [ember-element-helper](https://github.com/tildeio/ember-element-helper).

[2019-10-24 15:01] GavinJoyce commented on #38
These are ready for review:

 * https://github.com/emberjs/ember.js/pull/18491
 * https://github.com/ember-learn/deprecation-app/pull/456

[2019-11-22 18:02] Gaurav0 commented on #20
@rwjblue @MelSumner  Please update checkboxes.

[2019-12-04 15:23] rwjblue commented on #20
OK, this is going to land in 3.16. Thank you @Gaurav0!

[2019-12-04 15:23] #20 closed

[2019-12-30 19:27] jamescdavis commented on #11
Guides update started in https://github.com/ember-learn/guides-source/pull/814

[2020-01-16 16:36] abhishek97 commented on #30
I would like to work on implementing the deprecation warning, any ideas how do i get started?
Any example PR on deprecating something similar i can look at?

[2020-01-23 23:37] mehulkar commented on #48
What needs to happen to be able to have colocated glimmer components in addons?

[2020-01-24 00:15] josemarluedke commented on #48
@mehulkar I believe that’s already working.

See https://github.com/josemarluedke/frontile

[2020-01-24 00:52] btecu commented on #48
@mehulkar I can also confirm is working.

[2020-02-13 22:31] benkingcode commented on #35
Is there any news on this? It's been almost a year...

[2020-02-14 10:16] mansona commented on #35
@dbbk yes the work is being tracked in https://github.com/ember-learn/ember-website/pull/361 and in https://github.com/ember-learn/ember-styleguide/pull/145

There has been a lot of work put into this effort but I'm glad to say that it looks like we're almost there 🎉

[2020-02-16 11:06] Windvis commented on #35
Can we find the latest design somewhere? :smile:

[2020-02-16 20:29] mansona commented on #35
@Windvis it looks like you found the latest design (by your comments on some of the PRs) but on the PR that I linked you can see the Netlify preview in the "checks" section 👍 does that answer your question?

[2020-02-17 09:24] Windvis commented on #35
@mansona No, not really 😄. I meant the actual design files that are used as the reference for the implementation. The design preview in the RFC seems outdated so I assumed an updated design was used.

[2020-02-17 13:28] MelSumner commented on #35
@Windvis We will be doing a write up after the release to let everyone know all the details we anticipate they will want to read about. Stay Tuned!

[2020-03-06 13:02] sandstrom commented on #22
@kategengler I think we can close this issue, or at least mark some subpoints as completed:

- [x] introduce deprecation
- [x] add a deprecation to the deprecations app

This was worked on in: https://github.com/emberjs/ember.js/pull/17948

[2020-03-15 23:45] #22 closed

[2020-03-15 23:46] #48 closed

[2020-03-16 09:42] mansona commented on #25
I've done a bit of digging and it looks like the change was made to glimmer-vm in https://github.com/glimmerjs/glimmer-vm/pull/918/commits/22d1ea9180d50e23fb5d71aa0241ab5f129006fa which was then released in glimmer-vm@0.40.0 🤔

As the glimmer-vm was updated past v0.40.0 in https://github.com/emberjs/ember.js/commit/ade8188cc2c54fd6aade041354496100d57d3836 does that mean that the public `{{in-eleme

[2020-03-16 11:11] simonihmig commented on #25
@mansona my understanding is that though GlimmerVM has indeed been updated, and features all what is necessary to expose a public `in-element`, this has not been done yet on the side of Ember. See:
* https://github.com/emberjs/ember.js/pull/18727
* https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/transform-in-element.ts#L11-L44

Though I am also curious

[2020-03-30 16:40] alexeykostevich commented on #39
A related issue that has proposals on a demo environment for issue reporters:
https://github.com/emberjs/ember.js/issues/18460

[2020-04-11 15:51] locks commented on #33
I believe there's nothing left to do for this RFC.

[2020-04-11 15:51] #33 closed

[2020-04-11 15:52] locks commented on #2
I believe this RFC has been completed.

[2020-04-11 15:52] #2 closed

[2020-04-11 15:53] locks commented on #4
I believe the work here has been completed!

[2020-04-11 15:53] #4 closed

[2020-04-11 15:53] locks commented on #32
Work has been finalized on this RFC :)

[2020-04-11 15:53] #32 closed

[2020-04-11 15:53] locks commented on #37
Work completed!

[2020-04-11 15:53] #37 closed

[2020-04-11 18:02] locks commented on #44
There has been progress recently and we are looking to start documenting.
These are roughly the documentation goals:

- [API docs] Adjust documentation of [`Ember.Templates.helpers` `yeld`](https://api.emberjs.com/ember/3.17/classes/Ember.Templates.helpers/methods/yield?anchor=yield) for additional named block behavior
- [API docs] Reference `yield` documentation in the [`Component` class-level do

[2020-04-11 20:11] simonihmig commented on #25
A few points can be checked off here:
* GlimmerVM has ben update a while ago
* support in Ember has just been unlocked (https://github.com/emberjs/ember.js/pull/18867)
* API docs where a part of that

[2020-04-14 08:35] sandstrom commented on #44
Just wanted to say that the named blocks design is awesome! 🥇

[2020-04-24 22:22] locks opened #57 "RFC #496 - Tracking for Handlebars Strict Mode"
## [RFC #496](https://github.com/emberjs/rfcs/blob/master/text/0496-handlebars-strict-mode.md) - Tracking for Handlebars Strict Mode

Champion: @chancancode

---

### Ember.js Team:

#### [ember.js](https://github.com/emberjs/ember.js)

- [ ] TBD

### Ember CLI Team:

#### [ember-cli](https://github.com/ember-cli/ember-cli)

- [ ] TBD

### Ember Data Team:

#### [ember-data](https://github.com/emb

[2020-04-24 22:30] locks commented on #56
I am marking "update source code for Learning-managed Ember application" as done despite it being worded a bit fuzzily as to exactly which applications this refers to, because we have certain hard blockers on certains applications that are being addressed and wouldn't make sense to track in the context of this RFC.

[2020-04-24 22:31] locks commented on #56
Confirming the Ember Inspector item with the team. (cc @rwwagner90 ?)

[2020-04-25 02:55] chancancode commented on #56
Yep this works

[2020-04-25 10:27] locks commented on #56
Thank you!

[2020-04-25 10:27] #56 closed

[2020-04-25 21:23] locks commented on #25
It has been enabled in canary via https://github.com/emberjs/ember.js/pull/18927.

[2020-04-25 22:07] sdhull commented on #19
In terms of actually getting this done in Ember Data, is it basically just adding `public meta?: Dict<any>;` and then assigning it in the constructor? I still don't really grok the internals of ember data 😬

[2020-09-25 14:22] knownasilya commented on #6
What's the status on this?

[2020-09-28 16:37] wycats commented on #6
The first task (land new parser) is [complete](https://github.com/glimmerjs/glimmer-vm/pull/1160#issuecomment-695013182) (ht: @pzuraq). The new `@handlebars/parser` needs to add support for `{{(helper)}}` to support https://github.com/emberjs/rfcs/pull/432 in strict mode, but it doesn't block landing this feature in current Ember.

The second task (implement "value everywhere semantics in the pars

[2020-10-07 17:22] MelSumner commented on #49
https://github.com/emberjs/ember.js/pull/19187

[2020-10-13 08:41] sandstrom commented on #25
Regarding the "addon ecosystem" todo above I've submitted two PRs. Maybe that's enough to tick that box here? Still up to them to decide, but at least we've pinged them now.

- https://github.com/yapplabs/ember-wormhole/pull/122
- https://github.com/ef4/ember-elsewhere/pull/44

[2020-10-30 14:44] locks commented on #38
`{{partial}}` was deprecated as of Ember v3.15.0 and is additionally linted against.

[2020-10-30 14:44] #38 closed

[2020-10-30 14:45] locks commented on #38
Thanks for the help!

[2021-01-23 16:00] jamescdavis commented on #26
FYI: Effective as of Ember 3.25, importing `isHtmlSafe` and `htmlSafe` from `@ember/string` has now been formally deprecated in the code (https://github.com/emberjs/ember.js/pull/19339) and in the deprecation app (https://github.com/ember-learn/deprecation-app/pull/758).

[2021-05-24 16:13] simonihmig commented on #3
There are now two PRs open for the corresponding points listed under "Removal phase (4.0)":
* https://github.com/emberjs/ember.js/pull/19551
* https://github.com/emberjs/ember.js/pull/19552

[2021-05-28 21:05] #11 closed

[2021-05-28 21:05] #31 closed

[2021-05-28 21:08] runspired commented on #53
Yes. And it is finally activated in 3.28 beta. We still need documentation though so this should be left open.

[2021-05-28 21:09] runspired commented on #52
This is finally activated in 3.28 beta. We still need documentation though so this should be left open.

[2021-05-28 21:09] runspired commented on #47
This is finally activated in 3.28 beta. We still need documentation though so this should be left open.

[2021-05-28 21:09] runspired commented on #46
This is finally activated in 3.28 beta. We still need documentation though so this should be left open.

[2021-05-28 21:11] runspired commented on #24
This feature landed in 3.5, but we intentionally opted to not-document more than a little bit of it because the initial implementation was problematic. A new design is being tracked in #51, closing in favor.

[2021-05-28 21:11] #24 closed

[2021-05-28 21:12] runspired commented on #50
This RFC required no implementation, it was just merely a state-of-the-world update. Closing as no further actions to take.

[2021-05-28 21:12] #50 closed

[2021-06-24 20:05] lolmaus commented on #42
Is this tracking up to date?

[2021-12-20 14:55] simonihmig commented on #3
The two item under "Removal phase (4.0)" can be checked off!

PRs:
* https://github.com/emberjs/ember.js/pull/19677
* https://github.com/emberjs/ember.js/pull/19676
* https://github.com/emberjs/ember.js/pull/19675
* https://github.com/emberjs/ember.js/pull/19666
* https://github.com/emberjs/ember.js/pull/19665

[2022-05-13 13:51] #14 closed

[2022-05-13 13:51] #18 closed

[2022-05-13 13:51] #19 closed

[2022-05-13 13:51] #25 closed

[2022-05-13 13:51] #26 closed

[2022-05-13 13:51] #27 closed

[2022-05-13 13:51] #28 closed

[2022-05-13 13:51] #29 closed

[2022-05-13 13:51] #30 closed

[2022-05-13 13:51] #34 closed

[2022-05-13 13:51] #35 closed

[2022-05-13 13:51] #41 closed

[2022-05-13 13:51] #44 closed

[2022-05-13 13:51] #45 closed

[2022-05-13 13:51] #46 closed

[2022-05-13 13:51] #47 closed

[2022-05-13 13:51] #49 closed

[2022-05-13 13:51] #52 closed

[2022-05-13 13:51] #53 closed

[2022-05-13 13:51] #55 closed

[2022-05-13 13:51] #57 closed

[2022-05-13 13:52] #3 closed

[2022-05-13 13:52] #6 closed

[2022-05-13 13:52] #7 closed

[2022-05-13 13:52] #8 closed

[2022-05-13 13:52] #9 closed

[2022-05-13 13:52] #12 closed